:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.dark {
  background: #07020D;
  color: #F1E9DB;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

.auth-box {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #646cff;
}
