# dependencies
node_modules/

# env files
.env

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output (if using TS)
dist/

# runtime files
pids/
*.pid
*.seed
*.pid.lock

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# coverage
coverage/

# uploads (if you store locally)
uploads/

# temp
tmp/
temp/
